html {
	overflow-x: hidden;
}
img {
	margin-left: 5%;
	margin-bottom: 5%;
	border: 3px violet solid;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../HTML files/Preloader_3.gif") center no-repeat #fff;
	background-color: mediumturquoise;
}
@media screen and (max-width: 650px) {
	.Mypic {
		height: 80%;
		width:100%;
		padding: 2%;
		margin-bottom: 3%;
	}
	#data {
		background-color: #333;
		color: floralwhite;
		font-size: 5vw;
		font-family: monospace;
		margin-top: 4vw;
		text-align: center;
	}
}
@media only screen and (min-width: 650px) {
	.Mypic {
		height: 80%;
		width: 80%;
		padding: 5%;
		margin-left: 2vw;
		margin-bottom: 3%;
	}
	#data {
		background-color: #333;
		color: floralwhite;
		font-family: monospace;
		margin-top: 4vw;
		text-align: center;
	}
}
a i{
	color: #aaa6a0;
	text-align: center;
}
a i:hover{
	color: #fffcec;
}